Source: prozgui
Section: net
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Raviyanto Ahmad <raviyanto@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://code.google.com/p/project-linux-software

Package: prozgui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfltk1.1 (>= 1.1.6)
Description: FLTK-based GUI front end for prozilla
 The Prozgui is a graphical front end based on the Fast and Light
 Toolkit for prozilla. Prozilla is a download accelerator that
 opens multiple connections to get the file faster.
 .
 Prozgui's features include proxy, redirection and ftpsearch
 support.
